* {
    margin: 0;
    padding: 0;
}

.container{
  background-image: url(imagens/espaco.jpg);
  background-size: cover;

  height: 100vh;
  position: relative;

}

.content{
    position: absolute;
   
    left: 50%;
    height: 50%;

    transform: translate(-50%, 40%);
}