@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top:50px;
    color: white;
    font-variant: small-caps;
    
}

header > p{
    padding-bottom: 50px;

}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-left: 3 0px;
    padding-bottom: 10vh;
    line-height: 2em;
}

section.texto{
    background-color: white;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
}

section.image>p{
    background-color: rgba(0, 0, 0, 0.253);
    width: 400px;
}



footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}