@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#038C3E,#0CF25D);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #02364b5e;
}
h1{
    color: #02735E;
    text-align: center;
    box-shadow: 1px 2px 2px #02364b5e;
}
h2{
    color:#025951 ;
}
p{
    text-align: justify;
}